
.in-game-menu-container-outer{
    display: none;
  
    width: fit-content;
    height: auto;
  
    border-radius: 5px;
    margin: 5px;
  
    top: 0;
    left: 0;
  
    background: rgba(11, 11, 11, 0.401);

    position: absolute;

}

.in-game-menu-container-inner{

    display: block;

    width: fit-content;
    height: auto;
  
    padding: 10px;

}

.in-game-menu-button{
    background-color: transparent;
    color: white;

    border-radius: 6px;
    border-style: solid;
    border-color: white;
    border-width: 2px;

    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;
    transition: ease-in-out 0.1s;
}

.in-game-menu-button:hover{
    background-color: rgba(167, 239, 213, 0.344);
}

.in-game-menu-item{

    font-size: 20px;
    font-weight: 300;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;

    padding-left: 2%;
}
