
div.polaroid {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 25px;
  float: left;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.h1SelectCar {
  margin: 50px 0 0 0;
  color: rgb(0, 0, 0);
  text-align: center;
  text-shadow: 1px 0px 0px rgba(35, 231, 214, 1),
    -1px 0px 0px rgba(210, 17, 50, 1);
  font-family: "Ubuntu Condensed", sans-serif;
}

.textSelectCar{
  color: #000000
}


.buttonSelectCar{
  font-size: 1.2em;
  padding: 1em;
}

.buttonSelectCar {
  display: inline-block;
  border-radius: 4px;
  background-color: #414141;
  border: none;
  color: #ffffff;
  text-align: center;
  
  /*font-size: 28px;
  padding: 20px;*/

  width: 70%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonSelectCar span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonSelectCar span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonSelectCar:hover span {
  padding-right: 25px;
}

.buttonSelectCar:hover span:after {
  opacity: 1;
  right: 0;
}


/* Position text in the middle of the page/image */
.bg-text-selectCar {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  /*overflow-y: scroll;*/
  height:90%;
}